.tech-inform {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  /* flex-wrap: wrap; */
}
.left-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-bar-content {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.left-content,
.right-content {
  display: flex;
  flex-direction: column;
}
.left-content {
  gap: 2rem;
}
.item {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid #333;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  color: white;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.item:hover {
  color: #fff;
  border: 1px solid #fff;
}
.bar-active {
  color: black !important;
  background-color: white;
  border: 1px solid transparent;
}
.right-content {
  gap: 1.5rem;
}
.content-titles {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.content-titles span {
  color: #fff;
  opacity: 50%;
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
}
.content-titles p {
  color: #fff;
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.5rem;
}
.content-text {
  color: #d0d6f9;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 180%;
}
.right-bar {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-bar img {
  border-radius: 10px;
}
@media (max-width: 900px) {
  .tech-inform {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 0;
  }
  .right-bar img {
    flex: 1;
    border-radius: 10px;
  }
  .left-bar-content {
    flex-direction: column;
    padding: 1rem 0;
  }
  .left-content {
    flex-direction: row;
  }
  .right-content {
    text-align: center;
    margin-bottom: 2rem;
  }
  .item {
    width: 56px;
    height: 56px;
    font-size: 1.5rem;
  }
  .content-titles span {
    font-size: 1.5rem;
  }
  .content-titles p {
    font-size: 2.5rem;
  }
  .content-text {
    font-size: 1rem;
  }
}
@media (max-width: 600px) {
  .right-bar {
    width: inherit;
  }
  .right-bar img {
    border-radius: 10px;
  }
  .item {
    height: 40px;
    width: 40px;
    font-size: 1.125rem;
  }
  .content-titles span {
    font-size: 1.125rem;
  }
  .content-titles p {
    font-size: 1.5rem;
  }
  .content-text {
    font-size: 0.9rem;
  }
}
