.header-nav {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-line {
  flex: 1;
  height: 1px;
  margin-left: 1rem;
  background-color: #979797;
}

.logo {
  display: flex;
  align-items: center;
  gap: 4rem;
  padding-left: 1rem;
}
.logo img {
  width: 48px;
  height: 48px;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  backdrop-filter: blur(80px);
  width: 800px;
  padding: 0 2.5rem;
}
.nav-link a {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin: 2rem 0;
  gap: 0.75rem;
  padding: 0.5rem 0;
  border: 2px solid transparent;
  transition: border-bottom 0.3s ease-in-out;
}
.active {
  border-bottom: 2px solid #fff !important;
}
.nav-link a:hover {
  border-bottom: 2px solid #b6b6b6;
}
.nav-link span {
  color: #fff;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.nav-link p {
  color: #fff;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.menu-bar {
  display: none;
  color: #d0d6f9;
  padding: 1rem 2rem;
}
.menu-bar .icon {
  font-size: 1.5rem;
}
@media (max-width: 768px) {
  .header-line {
    display: none;
  }
}
@media (max-width: 600px) {
  .nav-links {
    display: none;
  }
  .menu-bar {
    display: block;
  }
  .header-nav {
    align-items: center;
    position: relative;
  }
  .mobileMenu {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
    z-index: 3;
    display: flex;
    justify-content: flex-end;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .closeIcon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
  }
  .mobileMenu .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    width: 80%;
    background-color: transparent;
    backdrop-filter: none;
  }

  .mobileMenu .nav-link span,
  .mobileMenu .nav-link p {
    color: #1a1a1a;
    font-size: 1.25rem;
  }

  .mobileMenu .nav-link a {
    padding: 1rem 0;
    border-bottom: 2px solid transparent;
  }

  .mobileMenu .active {
    border-bottom: 2px solid #1a1a1a !important;
  }

  .mobileMenu .nav-link a:hover {
    border-bottom: 2px solid #555 !important;
  }
}
